## Visual Studio/Dotnet Ignore
bin/
obj/
[Dd]ebug/
[Rr]elease/
*.user
*.userosscache
*.sln.docstates

## Rider/Resharper Ignore
.idea/
.rider/

## VS Code Ignore
.vscode/

## SQLite Ignore (optional, but keep obs.db since it has important seed data for this demonstration)
# obs.db
obs.db-shm
obs.db-wal
